@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600;700&family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  color: #211d15;
  background-color: #f2efe2;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}